<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org:">
<head>
    <meta charset="UTF-8">
    <title>Properties</title>
</head>
<body>
    <h3>Properties:</h3>
    <ul>
        <li>profile:
            <span th:text="${profile}"></span>
        </li>
        <li>os.name:
            <span th:text="${osName}"></span>
        </li>
        <li>JAVA_HOME:
            <span th:text="${javaHome}"></span>
        </li>
        <li>spring.version: </li>
        <li>version: </li>
        <li>basedir: </li>
        <li>myFilteredProperty:
            <span th:text="${myFilteredProperty}"></span>
        </li>
    </ul>
</body>
</html>